#logfile  "debug30.log"
#loglevel trace itrace mpxchn device tape mem micro
2030E/1  port=3270    # Specify a Model 30 with 1 selector channel.
2415-6   0c0
2415u    0c0 file="../test_progs/sysres.tap" format=E11 noring
2415u    0c1 file="sys001.tap" format=E11 ring
2415u    0c2 file="sys002.tap" format=E11 ring
2415u    0c3 file="sys003.tap" format=E11 ring
2415u    0c4 file="sys004.tap" format=E11 ring
2415u    0c5 file="sys005.tap" format=E11 ring
1442     00a format=auto
1443     00b file="prt.txt" start
